node_modules
/dist
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
.DS_Store

extensions/
node_modules/**
**/dist/*
**/lib/*
**/es/*
**/hosted/*
*.log
*.lock
*.map
*.css.map
*.js.map

package-lock.json
